{% load static %}


<!doctype html>
<html lang="en">
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="Gambolthemes">
		<meta name="author" content="Gambolthemes">
		<title>Danish Foods Limited</title>

		<!-- Favicon Icon -->
{#		<link rel="icon" type="image/png" href="images/fav.png">#}

		<!-- Stylesheets -->
		<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
{#		<link href="{% static 'css/unicons.css' %}" rel='stylesheet'>#}
		<link href="{% static "css/style.css" %}" rel="stylesheet">
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
		<link href="{% static 'css/night-mode.css' %}" rel="stylesheet">

		<!-- Vendor Stylesheets -->
{#		<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">#}
{#		<link href="vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">#}
{#		<link href="vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">#}
{#		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
{#		<link rel="stylesheet" type="text/css" href="vendor/semantic/semantic.min.css">#}

  </head>
<body>
	<!-- Category Model Start-->

	<!-- Header End -->
	<!-- Body Start -->
	<div class="wrapper">
		<!-- Offers Start -->
		<div class="main-banner-slider">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel offers-banner owl-theme">
							<div class="item">
								<div class="offer-item">
									<div class="offer-item-img">
										<div class="gambo-overlay"></div>
										<img src="images/banners/offer-1.jpg" alt="">
									</div>
									<div class="offer-text-dt">
										<div class="offer-top-text-banner">
											<div class="top-text-1">Coming Soon</div>
											<span>Fresh Vegetables</span>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="offer-item">
									<div class="offer-item-img">
										<div class="gambo-overlay"></div>
										<img src="images/banners/offer-2.jpg" alt="">
									</div>
									<div class="offer-text-dt">
										<div class="offer-top-text-banner">
											<p>5% Off</p>
											<div class="top-text-1">Buy More & Save More</div>
											<span>Fresh Fruits</span>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="offer-item">
									<div class="offer-item-img">
										<div class="gambo-overlay"></div>
										<img src="images/banners/offer-3.jpg" alt="">
									</div>
									<div class="offer-text-dt">
										<div class="offer-top-text-banner">
											<p>3% Off</p>
											<div class="top-text-1">Hot Deals on New Items</div>
											<span>Daily Essentials Eggs & Dairy</span>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="offer-item">
									<div class="offer-item-img">
										<div class="gambo-overlay"></div>
										<img src="images/banners/offer-4.jpg" alt="">
									</div>
									<div class="offer-text-dt">
										<div class="offer-top-text-banner">
											<p>2% Off</p>
											<div class="top-text-1">Buy More & Save More</div>
											<span>Beverages</span>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="offer-item">
									<div class="offer-item-img">
										<div class="gambo-overlay"></div>
										<img src="images/banners/offer-5.jpg" alt="">
									</div>
									<div class="offer-text-dt">
										<div class="offer-top-text-banner">
											<p>3% Off</p>
											<div class="top-text-1">Buy More & Save More</div>
											<span>Nuts & Snacks</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Offers End -->
		<!-- Categories Start -->
		<div class="section145">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-title-tt">
							<div class="main-title-left">
								<h2>Categories</h2>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="owl-carousel cate-slider owl-theme">
							<div class="item">
								<a href="#" class="category-item">
									<div class="cate-img">
										<img src="images/category/icon-2.svg" alt="">
									</div>
									<h4> Grocery & Staples </h4>
								</a>
							</div>
							<div class="item">
								<a href="#" class="category-item">
									<div class="cate-img">
										<img src="images/category/icon-3.svg" alt="">
									</div>
									<h4> Dairy & Eggs </h4>
								</a>
							</div>
							<div class="item">
								<a href="#" class="category-item">
									<div class="cate-img">
										<img src="images/category/icon-4.svg" alt="">
									</div>
									<h4> Beverages </h4>
								</a>
							</div>
							<div class="item">
								<a href="#" class="category-item">
									<div class="cate-img">
										<img src="images/category/icon-5.svg" alt="">
									</div>
									<h4> Snacks </h4>
								</a>
							</div>
							<div class="item">
								<a href="#" class="category-item">
									<div class="cate-img">
										<img src="images/category/icon-6.svg" alt="">
									</div>
									<h4> Home Care </h4>
								</a>
							</div>
							<div class="item">
								<a href="#" class="category-item">
									<div class="cate-img">
										<img src="images/category/icon-7.svg" alt="">
									</div>
									<h4> Noodles & Sauces </h4>
								</a>
							</div>
							<div class="item">
								<a href="#" class="category-item">
									<div class="cate-img">
										<img src="images/category/icon-8.svg" alt="">
									</div>
									<h4> Personal Care </h4>
								</a>
							</div>
							<div class="item">
								<a href="#" class="category-item">
									<div class="cate-img">
										<img src="images/category/icon-9.svg" alt="">
									</div>
									<h4> Pet Care </h4>
								</a>
							</div>
							<div class="item">
								<a href="#" class="category-item">
									<div class="cate-img">
										<img src="images/category/icon-10.svg" alt="">
									</div>
									<h4> Meat & Seafood </h4>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Featured Products End -->
		<!-- Best Values Offers Start -->
		<div class="section145">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-title-tt">
							<div class="main-title-left">
								<span>Danish</span>
								<h2>Best Values</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<a href="#" class="best-offer-item">
							<img src="images/best-offers/offer-1.jpg" alt="">
						</a>
					</div>
					<div class="col-lg-4 col-md-6">
						<a href="#" class="best-offer-item">
							<img src="images/best-offers/offer-2.jpg" alt="">
						</a>
					</div>
					<div class="col-lg-4 col-md-6">
						<a href="#" class="best-offer-item offr-none">
							<img src="images/best-offers/offer-3.jpg" alt="">
						</a>
					</div>
					<div class="col-md-12">
						<a href="#" class="code-offer-item">
							<img src="images/best-offers/offer-4.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Best Values Offers End -->
		<!-- Vegetables and Fruits Start -->
		<div class="section145">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-title-tt">
							<div class="main-title-left">
								<span>Danish</span>
								<h2>Blog</h2>
							</div>
							<a href="blog.html" class="see-more-btn">See All</a>
						</div>
					</div>
					<div class="col-md-12">
						<div class="owl-carousel featured-slider owl-theme">
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/product/img-11.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>This is blog title</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/product/img-12.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>This is blog title</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/product/img-13.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>This is blog title</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/product/img-11.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>This is blog title</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/product/img-12.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>This is blog title</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/product/img-13.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>This is blog title</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/product/img-11.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>This is blog title</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/product/img-12.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>This is blog title</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/product/img-13.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>This is blog title</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Vegetables and Fruits Products End -->
		<!-- New Products Start -->
		<div class="section145">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-title-tt">
							<div class="main-title-left">
								<span>Danish</span>
								<h2>Photo & Video Gallary</h2>
							</div>
							<a href="#" class="see-more-btn">See All</a>
						</div>
					</div>
					<div class="col-md-12">
						<div class="owl-carousel featured-slider owl-theme">
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/gallary/1.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>Item 1</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/gallary/2.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>Item 1</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/gallary/3.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>Item 1</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/gallary/4.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>Item 1</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/gallary/5.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>Item 1</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/gallary/1.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>Item 1</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/gallary/2.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>Item 1</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/gallary/3.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>Item 1</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/gallary/4.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>Item 1</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="images/gallary/5.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<h4>Item 1</h4>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="http://gambolthemes.net/html-items/gambo_supermarket_demo/single_product_view.html" class="product-img">
										<img src="images/product/img-9.jpg" alt="">
									</a>
									<div class="product-text-dt">
										<p>Available<span>(In Stock)</span></p>
										<h4>Product Title Here</h4>
										<div class="product-price">$10</div>
										<div class="qty-cart">
											<div class="quantity buttons_added">
												<input type="button" value="-" class="minus minus-btn">
												<input type="number" step="1" name="quantity" value="1" class="input-text qty text">
												<input type="button" value="+" class="plus plus-btn">
											</div>
											<span class="cart-icon"><i class="uil uil-shopping-cart-alt"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="http://gambolthemes.net/html-items/gambo_supermarket_demo/single_product_view.html" class="product-img">
										<img src="images/product/img-15.jpg" alt="">
										<div class="product-absolute-options">
											<span class="offer-badge-1">5% off</span>
											<span class="like-icon" title="wishlist"></span>
										</div>
									</a>
									<div class="product-text-dt">
										<p>Available<span>(In Stock)</span></p>
										<h4>Product Title Here</h4>
										<div class="product-price">$5</div>
										<div class="qty-cart">
											<div class="quantity buttons_added">
												<input type="button" value="-" class="minus minus-btn">
												<input type="number" step="1" name="quantity" value="1" class="input-text qty text">
												<input type="button" value="+" class="plus plus-btn">
											</div>
											<span class="cart-icon"><i class="uil uil-shopping-cart-alt"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="http://gambolthemes.net/html-items/gambo_supermarket_demo/single_product_view.html" class="product-img">
										<img src="images/product/img-11.jpg" alt="">
										<div class="product-absolute-options">
											<span class="offer-badge-1">New</span>
											<span class="like-icon" title="wishlist"></span>
										</div>
									</a>
									<div class="product-text-dt">
										<p>Available<span>(In Stock)</span></p>
										<h4>Product Title Here</h4>
										<div class="product-price">$15 <span>$16</span></div>
										<div class="qty-cart">
											<div class="quantity buttons_added">
												<input type="button" value="-" class="minus minus-btn">
												<input type="number" step="1" name="quantity" value="1" class="input-text qty text">
												<input type="button" value="+" class="plus plus-btn">
											</div>
											<span class="cart-icon"><i class="uil uil-shopping-cart-alt"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="http://gambolthemes.net/html-items/gambo_supermarket_demo/single_product_view.html" class="product-img">
										<img src="images/product/img-14.jpg" alt="">
										<div class="product-absolute-options">
											<span class="offer-badge-1">New</span>
											<span class="like-icon" title="wishlist"></span>
										</div>
									</a>
									<div class="product-text-dt">
										<p>Available<span>(In Stock)</span></p>
										<h4>Product Title Here</h4>
										<div class="product-price">$9</div>
										<div class="qty-cart">
											<div class="quantity buttons_added">
												<input type="button" value="-" class="minus minus-btn">
												<input type="number" step="1" name="quantity" value="1" class="input-text qty text">
												<input type="button" value="+" class="plus plus-btn">
											</div>
											<span class="cart-icon"><i class="uil uil-shopping-cart-alt"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="http://gambolthemes.net/html-items/gambo_supermarket_demo/single_product_view.html" class="product-img">
										<img src="images/product/img-2.jpg" alt="">
										<div class="product-absolute-options">
											<span class="offer-badge-1">New</span>
											<span class="like-icon" title="wishlist"></span>
										</div>
									</a>
									<div class="product-text-dt">
										<p>Available<span>(In Stock)</span></p>
										<h4>Product Title Here</h4>
										<div class="product-price">$7</div>
										<div class="qty-cart">
											<div class="quantity buttons_added">
												<input type="button" value="-" class="minus minus-btn">
												<input type="number" step="1" name="quantity" value="1" class="input-text qty text">
												<input type="button" value="+" class="plus plus-btn">
											</div>
											<span class="cart-icon"><i class="uil uil-shopping-cart-alt"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="http://gambolthemes.net/html-items/gambo_supermarket_demo/single_product_view.html" class="product-img">
										<img src="images/product/img-5.jpg" alt="">
										<div class="product-absolute-options">
											<span class="offer-badge-1">New</span>
											<span class="like-icon" title="wishlist"></span>
										</div>
									</a>
									<div class="product-text-dt">
										<p>Available<span>(In Stock)</span></p>
										<h4>Product Title Here</h4>
										<div class="product-price">$6.95</div>
										<div class="qty-cart">
											<div class="quantity buttons_added">
												<input type="button" value="-" class="minus minus-btn">
												<input type="number" step="1" name="quantity" value="1" class="input-text qty text">
												<input type="button" value="+" class="plus plus-btn">
											</div>
											<span class="cart-icon"><i class="uil uil-shopping-cart-alt"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="product-item">
									<a href="http://gambolthemes.net/html-items/gambo_supermarket_demo/single_product_view.html" class="product-img">
										<img src="images/product/img-6.jpg" alt="">
										<div class="product-absolute-options">
											<span class="offer-badge-1">New</span>
											<span class="like-icon" title="wishlist"></span>
										</div>
									</a>
									<div class="product-text-dt">
										<p>Available<span>(In Stock)</span></p>
										<h4>Product Title Here</h4>
										<div class="product-price">$8 <span>8.75</span></div>
										<div class="qty-cart">
											<div class="quantity buttons_added">
												<input type="button" value="-" class="minus minus-btn">
												<input type="number" step="1" name="quantity" value="1" class="input-text qty text">
												<input type="button" value="+" class="plus plus-btn">
											</div>
											<span class="cart-icon"><i class="uil uil-shopping-cart-alt"></i></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- New Products End -->
	</div>
	<!-- Body End -->
	<!-- Footer Start -->
	<footer class="footer">
		<div class="footer-first-row">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<ul class="call-email-alt">
							<li><a href="#" class="callemail"><i class="uil uil-dialpad-alt"></i>1800-000-000</a></li>
							<li><a href="#" class="callemail"><i class="uil uil-envelope-alt"></i>info@danishbd.com</a></li>
						</ul>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="social-links-footer">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-second-row">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="second-row-item">
							<h4>Categories</h4>
							<ul>
								<li><a href="#">Fruits and Vegetables</a></li>
								<li><a href="#">Grocery & Staples</a></li>
								<li><a href="#">Dairy & Eggs</a></li>
								<li><a href="#">Beverages</a></li>
								<li><a href="#">Snacks</a></li>
								<li><a href="#">Home Care</a></li>
								<li><a href="#">Noodles & Sauces</a></li>
								<li><a href="#">Personal Care</a></li>
								<li><a href="#">Pet Care</a></li>
								<li><a href="#">Meat & Seafood</a></li>
								<li><a href="#">Electronics</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="second-row-item">
							<h4>Useful Links</h4>
							<ul>
								<li><a href="#">About US</a></li>
								<li><a href="#">Featured Products</a></li>
								<li><a href="#">Offers</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Faq</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="second-row-item">
							<h4>Products</h4>
							<ul>
								<li><a href="#">Biscuits</a></li>
								<li><a href="#">Candy</a></li>
								<li><a href="#">Ghee</a></li>
								<li><a href="#">Semai</a></li>
								<li><a href="#">Snacks</a></li>
								<li><a href="#">Tea</a></li>
								<li><a href="#">Spice</a></li>
								<li><a href="#">Noodles</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="second-row-item-app">
							<h4>Download App</h4>
							<ul>
								<li><a href="#"><img class="download-btn" src="images/download-1.svg" alt=""></a></li>
								<li><a href="#"><img class="download-btn" src="images/download-2.svg" alt=""></a></li>
							</ul>
						</div>
						<div class="second-row-item-payment">
							<h4>Payment Method</h4>
							<div class="footer-payments">
								<ul id="paypal-gateway" class="financial-institutes">
									<li class="financial-institutes__logo">
									  <img alt="Visa" title="Visa" src="images/footer-icons/pyicon-6.svg">
									</li>
									<li class="financial-institutes__logo">
									  <img alt="Visa" title="Visa" src="images/footer-icons/pyicon-1.svg">
									</li>
									<li class="financial-institutes__logo">
									  <img alt="MasterCard" title="MasterCard" src="images/footer-icons/pyicon-2.svg">
									</li>
									<li class="financial-institutes__logo">
									  <img alt="American Express" title="American Express" src="images/footer-icons/pyicon-3.svg">
									</li>
									<li class="financial-institutes__logo">
									  <img alt="Discover" title="Discover" src="images/footer-icons/pyicon-4.svg">
									</li>
								</ul>
							</div>
						</div>
						<div class="second-row-item-payment">
							<h4>Newsletter</h4>
							<div class="newsletter-input">
								<input id="email" name="email" type="text" placeholder="Email Address" class="form-control input-md" required="">
								<button class="newsletter-btn hover-btn" type="submit"><i class="uil uil-telegram-alt"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-last-row">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="footer-bottom-links">
							<ul>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Term & Conditions</a></li>
								<li><a href="#">Refund & Return Policy</a></li>
							</ul>
						</div>
						<div class="copyright-text">
							<i class="uil uil-copyright"></i>Copyright 2020 <b>Danish Foods Limited</b> . All rights reserved
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer End -->

	<!-- Javascripts -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/OwlCarousel/owl.carousel.js"></script>
	<script src="vendor/semantic/semantic.min.js"></script>
	<script src="js/jquery.countdown.min.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/offset_overlay.js"></script>
	<script src="js/night-mode.js"></script>


</body>


{#  <body>#}
{##}
{##}
{##}
{#    <header class="header clearfix">#}
{#		<div class="top-header-group">#}
{#			<div class="top-header">#}
{#				<div class="res_main_logo">#}
{#					<a href="index.html"><img src="images/dark-logo-1.svg" alt=""></a>#}
{#				</div>#}
{#				<div class="main_logo" id="logo">#}
{#					<a href="index.html"><img src="images/logo.png" alt=""></a>#}
{#					<a href="index.html"><img class="logo-inverse" src="images/logo.png" alt=""></a>#}
{#				</div>#}
{##}
{#				<div class="search120">#}
{#					<div class="ui search">#}
{#					  <div class="ui left icon input swdh10">#}
{#						<input class="prompt srch10" type="text" placeholder="Search for products..">#}
{#						<i class="uil uil-search-alt icon icon1"></i>#}
{#					  </div>#}
{#					</div>#}
{#				</div>#}
{#				<div class="header_right">#}
{#					<ul>#}
{#						<li>#}
{#							<a href="#" class="offer-link"><i class="uil uil-phone-alt"></i>1800-000-000</a>#}
{#						</li>#}
{#						<li>#}
{#							<a href="#" class="offer-link"><i class="uil uil-gift"></i>Offers</a>#}
{#						</li>#}
{#						<li>#}
{#							<a href="#" class="offer-link"><i class="uil uil-question-circle"></i>Help</a>#}
{#						</li>#}
{#						<li class="ui dropdown" tabindex="0">#}
{#							<a href="#" class="opts_account">#}
{#								<img src="images/avatar/img-5.jpg" alt="">#}
{#								<span class="user__name">John Doe</span>#}
{#								<i class="uil uil-angle-down"></i>#}
{#							</a>#}
{#							<div class="menu dropdown_account left transition hidden" tabindex="-1">#}
{#								<div class="night_mode_switch__btn">#}
{#									<a href="#" id="night-mode" class="btn-night-mode">#}
{#										<i class="uil uil-moon"></i> Night mode#}
{#										<span class="btn-night-mode-switch">#}
{#											<span class="uk-switch-button"></span>#}
{#										</span>#}
{#									</a>#}
{#								</div>#}
{#								<a href="#" class="item channel_item"><i class="uil uil-apps icon__1"></i>Dashbaord</a>#}
{#								<a href="#" class="item channel_item"><i class="uil uil-box icon__1"></i>My Orders</a>#}
{#								<a href="#" class="item channel_item"><i class="uil uil-heart icon__1"></i>My Wishlist</a>#}
{#								<a href="#" class="item channel_item"><i class="uil uil-usd-circle icon__1"></i>My Wallet</a>#}
{#								<a href="#" class="item channel_item"><i class="uil uil-location-point icon__1"></i>My Address</a>#}
{#								<a href="#" class="item channel_item"><i class="uil uil-gift icon__1"></i>Offers</a>#}
{#								<a href="#" class="item channel_item"><i class="uil uil-info-circle icon__1"></i>Faq</a>#}
{#								<a href="sign_in.html" class="item channel_item"><i class="uil uil-lock-alt icon__1"></i>Logout</a>#}
{#							</div>#}
{#						</li>#}
{#					</ul>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#		<div class="sub-header-group">#}
{#			<div class="sub-header">#}
{##}
{#				<nav class="navbar navbar-expand-lg navbar-light py-3">#}
{#					<div class="container-fluid">#}
{#						<button class="navbar-toggler menu_toggle_btn" type="button" data-target="#navbarSupportedContent"><i class="uil uil-bars"></i></button>#}
{#						<div class="collapse navbar-collapse d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end bg-dark1 p-3 p-lg-0 mt1-5 mt-lg-0 mobileMenu" id="navbarSupportedContent">#}
{#							<ul class="navbar-nav main_nav align-self-stretch">#}
{#								<li class="nav-item"><a href="index.html" class="nav-link active" title="Home">Home</a></li>#}
{#								<li class="nav-item"><a href="products_list.html" class="nav-link new_item" title="New Products">Products</a></li>#}
{#								<li class="nav-item"><a href="career.html" class="nav-link" title="Career">Career</a></li>#}
{#								<li class="nav-item"><a href="blog.html" class="nav-link" title="Blog">Blog</a></li>#}
{#								<li class="nav-item"><a href="about_us.html" class="nav-link" title="Contact">About Us</a></li>#}
{#								<li class="nav-item"><a href="contact_us.html" class="nav-link" title="Contact">Contact Us</a></li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#				</nav>#}
{#				<div class="catey__icon">#}
{#					<a href="#" class="cate__btn" data-toggle="modal" data-target="#category_model" title="Categories"><i class="uil uil-apps"></i></a>#}
{#				</div>#}
{##}
{#				<div class="search__icon order-1">#}
{#					<a href="#" class="search__btn hover-btn" data-toggle="modal" data-target="#search_model" title="Search"><i class="uil uil-search"></i></a>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</header>#}
{##}
{##}
{##}
{#    <nav class="navbar navbar-light bg-light">#}
{#         <form class="form-inline" style="alignment: left">#}
{#             <figure class="logo mx-2"><a href="#" title="logo"><img src="/static/img/logo.png"  alt="logo"></a></figure>#}
{#                <input type="text" placeholder="Search.." name="search2">#}
{#                <button type="submit"><i class="fa fa-search"></i></button>#}
{#         </form>#}
{#    </nav>#}
{##}
{##}
{#    <nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{##}
{#          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#              <span class="navbar-toggler-icon"></span>#}
{#          </button>#}
{##}
{#          <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#              <ul class="navbar-nav main_nav align-self-stretch">#}
								<li class="nav-item"><a href="/" class="nav-link active" title="Home">Home</a></li>
								<li class="nav-item"><a href="{% url 'product:product' %}" class="nav-link new_item" title="New Products">Products</a></li>
								<li class="nav-item"><a href="{% url 'others:career' %}" class="nav-link" title="Career">Career</a></li>
								<li class="nav-item"><a href="{% url 'blog:blog' %}" class="nav-link" title="Blog">Blog</a></li>
								<li class="nav-item"><a href="{% url 'others:about' %}" class="nav-link" title="Contact">About Us</a></li>
								<li class="nav-item"><a href="{% url 'others:contact' %}" class="nav-link" title="Contact">Contact Us</a></li>
							</ul>
{##}
{#  </div>#}
{#</nav>#}
{##}
{#{% block body %}#}
{##}
{#{% endblock %}#}
{##}
{#    <!-- Optional JavaScript -->#}
{#    <!-- jQuery first, then Popper.js, then Bootstrap JS -->#}
{#    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}
{##}
{##}
{#  </body>#}
</html>
