{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="Gambolthemes">
		<meta name="author" content="Gambolthemes">
		<title>{% block title %} Fancy Group Limited{% endblock %}</title>

		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="{% static 'images/fav.png' %}">

		<!-- Stylesheets -->
		<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<link href='{% static 'vendor/unicons-2.0.1/css/unicons.css' %}' rel='stylesheet'>
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
		<link href="{% static 'css/night-mode.css' %}" rel="stylesheet">

		<!-- Vendor Stylesheets -->
		<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
		<link href="{% static 'vendor/OwlCarousel/assets/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'vendor/OwlCarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
		<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/semantic/semantic.min.css' %}">

    {% block header %}
    {% endblock header %}

	</head>

<body>

    {% include 'home/header.html' %}
	<!-- Body Start -->
		{% block body %}
        {% endblock body %}
    <!-- Body End -->

	<!-- Footer Start -->
    {% include 'home/footer.html' %}
	<!-- Footer End -->

	<!-- Javascripts -->
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'vendor/OwlCarousel/owl.carousel.js' %}"></script>
	<script src="{% static 'vendor/semantic/semantic.min.js' %}"></script>
	<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/offset_overlay.js' %}"></script>
	<script src="{% static 'js/night-mode.js' %}"></script>

</body>
</html>
