{% extends 'home/base.html' %}
{% block body %}

   	<!-- Body Start -->
    <div class="wrapper">
        <div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item"><a href="{% url 'blog:bloghome' %}">Our Blog</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'logout' %}">Logout</a></li>
                            </ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="gambo-Breadcrumb">
			<div class="container">
	           <h1>Login Here</h1>
                <div class="form-group">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
	<!-- Body End -->



{% endblock %}
