{% extends 'home/base.html' %}
{% block body %}

   	<!-- Body Start -->
    <div class="wrapper">
         <div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item"><a href="{% url 'blog:bloghome' %}">Our Blog</a></li>
                                <li class="breadcrumb-item "><a href="{% url 'blog:blogdetails' post.slug %}">Blog Detail View</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Edit</li>
                                <li class="breadcrumb-item active" style="color: red"><a href="{% url 'blog:delete_post' post.slug %}">(Delete)</a></li>

                            </ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
              {% if user.is_authenticated %}
                   {% if user.id == post.author.id %}
                        <div class="gambo-Breadcrumb">
                            <div class="container">
                               <h1>Update your Post Here</h1>
                                <div class="form-group">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.media }}
                                        {{ form.as_p }}
                                        <button class="btn btn-secondary">Update_post</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                   {% else %}
                        <h3 style="text-align: center;color:red">You are not allowed here! </h3>
                   {% endif %}
              {% else %}
                   <h3 style="text-align: center;color:red">You are not allowed here! </h3>
              {% endif %}
    </div>
	<!-- Body End -->



{% endblock %}
